@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*---Media Queries 

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {} --*/

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Helvetica Neue', sans-serif;
}

.navbar-nav li {
    padding-right: 25px;
    color: #000000;
}

#donate {
    background-color: rgb(79, 212, 74);
    border-radius: 4px;
    padding: 10px;
    overflow: hidden;
    font-style: bold;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
}

#donate a:hover {
    background-color: #ffffff;
    border-color: rgb(79, 212, 74);
    color: rgb(79, 212, 74);
}


/*---Firefox Bug Fix --*/

.nav.navbar-nav li a {
    color: black;
}

.nav.navbar-nav a:hover {
    color: grey;
}

.navbar {
    background-color: white;
}

.title {
    padding-top: 3cm;
    padding-left: 1cm;
    font-weight: bolder;
    font-size: 7.5vw;
    color: #000000;
}

.nav-item {
    font-style: bold;
    font-weight: bold;
    font-size: 13px;
    color: #000000;
}

.nav-item:hover {
    color: rgb(216, 216, 216);
}

.nav-link {
    font-size: 15px;
    color: black;
}

.para {
    font-weight: 300;
    font-size: 15pt;
    line-height: 25pt;
    text-align: middle;
    padding-left: 7.9vh;
    padding-right: 7.9vh;
}

.ap {
    padding-top: 1.5cm;
    padding-bottom: 2cm;
}

.wp {
    padding-bottom: 2cm;
}

.padding {
    padding-bottom: 2rem;
}

.team {
    border-radius: 50%;
}

.tp {
    padding-right: 10cm;
    padding-left: 10cm;
}

.ct {
    font-weight: bold;
    text-align: center;
}

.cs {
    font-weight: 200;
    text-align: center;
}

.jb {
    font-size: x-large;
    font-weight: bold;
    color: white;
}

#jumbo {
    background-color: rgb(94, 98, 172);
    padding: 0.5cm;
}


/*---Random--*/


/*--- Fixed Background Image --*/

figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    background-image: url('img/mac.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

footer {
    background-color: #1d1d1d;
    color: #fcfcfc;
}

.f1 {
    padding-left: 3cm;
}

.social {
    font-size: 25px;
    padding-right: 15px;
}

.fa-facebook {
    color: #fcfcfc;
}

.fa-instagram {
    color: #fcfcfc;
}

.fa-linkedin {
    color: #fcfcfc;
}

.team {
    -webkit-filter: grayscale(100%);
    /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%);
    /* FF 35+ */
}

.team:hover {
    transition: filter .25s ease-in-out;
    -webkit-filter: grayscale(0%);
    /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%);
    /* FF 35+ */
}


/*--- Bootstrap Padding Fix --*/

[class*="col-"] {
    padding: 1rem;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap 

Small (sm) devices (landscape phones,
576px and up) @media (min-width: 576px) {
    ...
}

Medium (md) devices (tablets,
768px and up) @media (min-width: 768px) {
    ...
}

Large (lg) devices (desktops,
992px and up) @media (min-width: 992px) {
    ...
}

Extra (xl) large devices (large desktops,
1200px and up) @media (min-width: 1200px) {
    ...
}
*/